<div class="row">
  <div class="col-12">
    <h3 class="mt-2">Currency Assignment</h3>
    <hr>
    <p class="desc">This is the frontend assignment with Angular framework & bootstrap.</p>
    <p class="desc"><strong>Candidate:</strong> Masoud Ghaffari</p>
    <p class="desc"><strong>Email:</strong> masoud.ghaffari.1980@gmail.com</p>

    <p>Please consider the below points:</p>
    <ul>
      <li>Make sure that backend project is running (<small><a href="https://github.com/masoudmvc/BankCurrencyService" target="_blank">github link</a></small>).</li>
      <li>If you change the port of localhost in the backend project (https://localhost:7015) change the related URI in "src/app/shared/environment/environment.ts"</li>
      <img src="assets/Capture.PNG" class="img-ico img-size">
      <li>When backend project runs. it automatically run a seed to insert records for Country Curency.</li>
      <li>A background worker in the backend fetch the exchange rates at the project start and every 360 minutes and you can change the the period in appSetting.json (<small><a href="https://www.ecb.europa.eu/stats/eurofxref/eurofxref-daily.xml?270702a89ed2da118e2807e1b0067a8c" target="_blank">ECB</a></small>)</li>
      <li>Now you can click on the items in the top bar.</li>
    </ul>
  </div>
</div>
