<div class="row">
  <div class="col-md-6" style="text-align: center;">
    <p class="desc-title">Imagin you are in other country and want to get some money from ATM.</p>
    <img src="assets/ATM-Machine.jpg" class="img-ico">
  </div>

  <div class="col-md-6">
    <div class="form-group">
      <label class="input-box">Amount</label>
      <input type="text" [(ngModel)]="amount" class="form-control">
    </div>
      <div class="form-group">
        <label class="element-input">Currency Of The Country Where You Are</label>
        <input type="text" [(ngModel)]="currencyOfTheCountryWhereYouAre" class="form-control" placeholder="Acronym abbreviation like USD">
      </div>
      <div class="form-group">
        <label class="element-input">Currency Of Your Country</label>
        <input type="text" [(ngModel)]="currencyOfYourCountry" class="form-control" placeholder="Acronym abbreviation like SEK">
      </div>
      <button class="btn btn-success submit-btn" (click)="Withdraw()">Withdraw</button>

      <div *ngIf="calculated" class="result-box">
        <p>Money Withdrawn From YourAccount: <strong>{{moneyWithdrawnFromYourAccount | number : '1.2-2'}}</strong></p>
        <p>Exchange Rate: <strong>{{exchangerate | number : '1.2-2'}}</strong></p>
        <button class="btn btn-primary submit-btn" (click)="clear()">Clear form</button>
      </div>
  </div>
</div>


