<div class="row">
  <div class="col-md-6" style="text-align: center;">
    <p class="desc-title">Imagin you are in other country and want to get some money from ATM.</p>
    <img src="assets/currency-exchange.jpg" class="img-ico">
  </div>

  <div class="col-md-6">
    <div class="form-group">
      <label class="input-box"><strong>Amount</strong></label>
      <input type="text" [(ngModel)]="amount" class="form-control">
    </div>
      <div class="form-group">
        <label class="element-input"><strong>From</strong></label>
        <input type="text" [(ngModel)]="fromCurrency" class="form-control" placeholder="Acronym abbreviation like USD">
      </div>
      <div class="form-group">
        <label class="element-input"><strong>To</strong></label>
        <input type="text" [(ngModel)]="toCurrency" class="form-control" placeholder="Acronym abbreviation like SEK">
      </div>
      <button class="btn btn-success submit-btn" (click)="convert()">Exchange</button>

      <div *ngIf="calculated" class="result-box">
        <p>Money Withdrawn From YourAccount: <strong>{{resultAmount | number : '1.2-2'}}</strong></p>
        <p>Exchange Rate: <strong>{{exchangerate | number : '1.2-2'}}</strong></p>
        <button class="btn btn-primary submit-btn" (click)="clear()">Clear form</button>
      </div>
  </div>
</div>
